body{
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 100vh;
}
.image-preview{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    overflow: hidden;
}
.image-preview >img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card-container{
    margin-top: 40px;
    width: 100%;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}
.card-home{
    width: 300px;
    height: 200px;
    background-color: #894545 ;
    border-radius: 10px;

}
.card{
    background-color: #894545 ;
    color: white;
    
}